.search-form{
    width: 50%;
    max-width: 500px;
    align-items: end;
}
.search-form-elem{
    border-radius: 2.5rem;
}
.search-form-elem .form-control{
    font-size: 2rem;
    
}
.search-form-elem .form-control::placeholder{
    background: transparent;
}